setuptools>=68.0.0
build>=0.10.0
twine>=4.0.0

# Linting/Tooling
black>=23.7.0
isort>=5.12.0
mypy>=1.4.1
pre-commit>=3.3.3
ruff>=0.0.280
pyright>=1.1.318

# Testing
pytest>=7.4.0
codecov>=2.1.13
pytest-cov>=4.1.0
pytest-benchmark>=4.0.0

# Documentation
mkdocs>=1.4.3
mkdocstrings>=0.22.0
mkdocstrings[python]>=0.9.0
mkdocs-material>=9.1.19
Pygments>=2.15.1
