# TensorFlow Libraries
tensorflow==2.3.1
tensorflow-datasets
tensorflow-addons

# Other Libraries
scikit-learn
seaborn
scipy
scikit-image
numpy
matplotlib
pandas
openpyxl
xlrd
keract
opencv-python
pygame
gym
pyqt5

# Linting/Tooling
pylint
flake8
mypy
isort
black
autopep8
pre-commit
