# Packaging
# python -m pip install -U pip
build>=1.0.3
twine>=4.0.2
setuptools>=69.0.2

# Jupyter
ipython>=8.21.0
ipykernel>=6.29.0

# Linting/Formatting
ruff>=0.2.0
black>=24.1.1
isort>=5.13.2

# Tooling
pre-commit>=3.6.0

# Type Checker
mypy>=1.8.0
mypy-extensions>=1.0.0
pyright>=1.1.349

# Testing
pytest>=8.0.0
pytest-cov>=4.1.0
pytest-benchmark>=4.0.0
codecov>=2.1.13
tox>=4.12.1

# Documentation
mkdocs>=1.5.3
mkdocstrings>=0.24.0
mkdocs-material>=9.5.7
mkdocstrings-python>=1.8.0
Pygments>=2.17.2
