# Packaging
# python -m pip install -U pip
build>=1.0.3
setuptools>=69.0.2
twine>=4.0.2

# Jupyter
ipython>=8.20.0
ipykernel>=6.28.0
ipympl>=0.9.3

# Linting/Tooling
black>=23.12.1
isort>=5.13.2
mypy>=1.8.0
mypy-extensions>=1.0.0
pre-commit>=3.6.0
pyright>=1.1.345
ruff>=0.1.13

# Testing
codecov>=2.1.13
pytest>=7.4.4
pytest-cov>=4.1.0
pytest-benchmark>=4.0.0
tox>=4.12.0

# Documentation
mkdocs>=1.5.3
mkdocstrings>=0.24.0
mkdocstrings-python>=1.8.0
mkdocs-material>=9.5.2
Pygments>=2.17.2
