# Libraries
scikit-learn
scipy
scikit-image
numpy
matplotlib
pandas
opencv-python
pyqt6
xlrd
openpyxl

tensorflow==2.14.*
tensorflow-macos==2.14.*
keras==2.14.*
tensorflow-datasets==4.8.*
tensorcross>=1.0.*

-r requirements-dev.txt
